<ion-content padding>
  <img src="assets/imgs/title.png" class="logo">
  
  <form [formGroup]="loginGroup">
  <ion-item>
    <ion-label floating>Email</ion-label>
    <ion-input type="email" formControlName="email"></ion-input>
  </ion-item>
  <ion-item class="error" *ngIf="!loginGroup.get('email').valid && (loginGroup.get('email').dirty || submitAttempt)">
    <small>Please enter a valid email.</small>
  </ion-item>

  <ion-item>
    <ion-label floating>Password</ion-label>  
    <ion-input type="password" formControlName="password"></ion-input>
    <ion-item class="error" *ngIf="!loginGroup.get('password').valid && (loginGroup.get('password').dirty || submitAttempt)"></ion-item>
    <small>Please enter your password.</small>
  </ion-item>
</form>

  <button ion-button color="dark" (click)="login()" class="button" outline round>Log In</button>
  <p>Don't have an account? <a (click)="goToSignUp()">Create One</a></p>
  
</ion-content>
