page-home {
    
    .logo {
        width: 250px;
        display: block;
        margin: 0 auto;
        margin-top: 50px;
        margin-bottom: 50px;
    }
    .button{
        display:block;
        margin: auto;
        margin-top: 50px;
    }

    p{
        font-size: 12px;
        text-align: center;
        margin-top: 15px;
    }
    a{
        color: black;
        font-weight: bold;
        font-size: 12px;
    }
}
