page-profile {
    .profileTitle
    {
        text-align: center;
    }

    .headerProfile 
    {
        color: grey;
        text-align: center;
        font-size: 12px;
    }

    .text
    {
        text-align:center;
    }
}
